.avatar {

    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;

}

.text {
    text-align: center;
    font-size: 36px;
    font-weight: 500;

}

.status {
    font-size: 14px;
}

.online {
    color: green;
}

.offline {
    color: red;
}