body {
    background-color: rgb(208, 250, 250);
}

.title {
    text-align: center;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 36px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}